.vscode/settings.json
/shelf/
/workspace.xml
.pytest*
.vscode
__pycache__
tests/
.idea/
*dev-build*
*dev-pod*
*dev-refresh-app.sh*
*dev_values.yaml*
*secret*
*target*
*.tgz
frontend/node_modules/
frontend/dist/
.claude/
